node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.dockerdata
.aider*
.env
.env


# Go build logs
.build-errors.log
tmp

# Application data
scriberr.db
scriberr-backend/cmd/scriberr/embedded_assets
scriberr-backend/storage
scriberr-backend/__pycache__
# Scriberr's original test storage folder
scriberr-backend/test-storage
# Test storage folder generated under live test `air`
scriberr-backend/cmd/scriberr/storage
scriberr-backend/cmd/scriberr/cache
# Test storage folder generated under container compose test 
/storage
/cache